@model ConsultaBD.Transporte.EntidadDetalleDTO

<h2>Detalle de la localidad</h2>
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PobTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PobTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PobFemenina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PobFemenina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PobMasculina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PobMasculina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalViviendas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalViviendas)
        </dd>

    </dl>
</div>